.addscroll {
	overflow-y: scroll;
	overflow-x: hidden;
}

.select {
	cursor: pointer;
}

.hide {
	white-space: nowrap;
	max-width: 300px;
	min-width:300px;
	overflow: hidden;
	text-overflow: ellipsis;	
}

.bg {
	background-color: lightGray;
}